# This workflow will install Python dependencies and run tests with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage nbformat nbconvert unittest-xml-reporting
        pip install -e .[dev]
#    - name: Test notebooks
#      run: |
#        cd tutorials; python -m unittest discover
    - name: Test source
      run: |
        cd tests; coverage run -m unittest discover
        coverage xml
        mv coverage.xml ../. # Move coverage file for upload to Codecov
    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: false
